.copyButton{
    position: relative;
}


.copyButton::before,
.copyButton::after{
    --scale:0;
    --tooltip-color: #555050;
    position: absolute;
    top:-.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y,0)) scale(var(--scale));
    transition: transform 200ms;
    transform-origin: bottom center;
} 

.copyButton::before{
    --translate-y:calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    width: max-content;
    max-width: 100%;
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    background: var(--tooltip-color);   
}
